.block-quoteblock {
  position: relative;

  blockquote {
    background-color: #eceeefab;

    p,
    li,
    div {
      font-size: 1.2rem;
      font-style: italic;
      padding: 0;
    }

    .author {
      cite {
        font-style: normal;
      }
    }
  }

  .picture {
    position: absolute;
    right: -10px;
    top: -10px;

    img {
      width: 50px;
      border-radius: 25px;
    }
  }
}